<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/about_me.css">
    <title>Hello everyone</title>
</head>
<body>
<header>
    <ul id="header">
        <li><a href="main" >Main page</a></li>
        <li><a href="posts">Posts</a></li>
        <li><a href="about_me">About_me</a></li>
        <li><a href="sites">Sites</a> </li>
        <li><a href="contacts">Contacts</a></li>
    </ul>
</header>
<p>Hello guys,my name Stanw</p>
    <p>What i want to learn</p>
    <ul id="skill">
        <dl>Python</dl>
        <dl>Flask</dl>
        <dl>Django</dl>
        <dl>English</dl>
        <dl>Postgresql</dl>
        <dl>Docker</dl>
        <dl></dl>
    </ul>
</body>
</html>