<!DOCTYPE HTML >
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/main.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <title>No name page</title>

 </head>
 <body>
    <header>
        <ul>
            <li><a href="main" >Main page</a></li>
            <li><a href="posts">Posts</a></li>
            <li><a href="about_me">About_me</a></li>
            <li><a href="sites">Sites</a> </li>

        </ul>
    </header>

        <h1>Hello Stancw !)</h1>
        <h3>Here is your main page</h3>
 </body>
</html>