<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/posts.css">
    <title>Main page</title>
</head>
<body>
  <header>
        <ul>
            <li><a href="main" >Main page</a></li>
            <li><a href="posts">Posts</a></li>
            <li><a href="about_me">About_me</a></li>
            <li><a href="sites">Sites</a> </li>
            <li><a href="contacts">Contacts</a></li>

        </ul>
    </header>
<center>
    <h2>Messages</h2>
    <form method="post" action="/add_message">
        <input type="text" name="text">
        <input type="text" name="tag">
        <button type="submit">Add messages</button>
    </form>

<h3>Messages list</h3>
{% for message in messages %}
    <div class="messages">{{ message.text }}
        {% for tag in message.tags %}
        <b>#{{ tag.text }}</b>
        {% endfor %}
    </div>
{% endfor %}
</center>

</body>
</html>